{% extends "template.html" %}

{% block head %}
<title>PanelMgr | Dashboard</title>
{% endblock %}

{% block content %}
<div class="w-screen h-screen flex flex-col items-center justify-center bg-slate-800">
  <h1 class="text-2xl text-white font-bold mb-5">Welcome to the dashboard</h1>
  <form action="/auth/logout" method="post">
    <button class="bg-slate-800 hover:bg-slate-600 duration-300 text-white font-bold rounded-md h-10 w-40 mt-5" type="submit">Log out</button>
  </form>
</div>
{% endblock %}