<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tailwind.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>{{ hostname }} | {{ page }}</title>
  {% block head %}
  {% endblock %}
</head>
<body class="w-screen h-screen">
  <div class="w-screen flex flex-col h-screen">
    <div class="w-screen h-16 bg-slate-700 flex flex-row items-center p-3 justify-between">
      <div class="w-max flex flex-row items-center">
        <p class="text-white font-bold text-lg">{{ hostname }}</p>
        <div class="bg-slate-500 w-2 h-8 rounded-2xl m-2"></div>
        <a class="text-white text-base" href={{ pterourl }}><i class="fa-solid fa-kiwi-bird"></i>&nbsp;Pterodactyl Panel</a>
      </div>
      <div class="w-max flex flex-row items-center justify-between">
        <p class="text-white text-base  m-1"><i class="fa-solid fa-coins"></i>&nbsp;{{ credits }}</p>
        <div class="flex flex-row items-center  m-1">
          <img src={{ "https://gravatar.com/avatar/" + gravatarhash}} class="w-8 rounded-2xl mr-2">
          <p class="text-white text-lg">{{ username }}</p>
        </div>
        <form action="/auth/logout" method="post">
          <button class="bg-slate-800 hover:bg-slate-600 duration-300 text-white font-bold rounded-md p-2" type="submit"><i class="fa-solid fa-right-from-bracket text-white text-lg"></i></button>
        </form>
      </div>
    </div>
    <div class="flex flex-row flex-grow w-screen h-max">
      <div class="w-64 h-full flex flex-col flex-grow items-center bg-slate-700 p-2">
        <form class="w-full" action="/dash">
          <button class="w-full bg-slate-700 hover:bg-slate-500 duration-300 rounded-lg text-lg text-slate-300 p-2 text-left mb-2" type="submit"><i class="fa-solid fa-home"></i>&nbsp;&nbsp;Home</button>
        </form>
        <form class="w-full" action="/dash/servers">
          <button class="w-full bg-slate-700 hover:bg-slate-500 duration-300 rounded-lg text-lg text-slate-300 p-2 text-left mb-2" type="submit"><i class="fa-solid fa-server"></i>&nbsp;&nbsp;Your servers</button>
        </form>
        <form class="w-full" action="/dash/store">
          <button class="w-full bg-slate-700 hover:bg-slate-500 duration-300 rounded-lg text-lg text-slate-300 p-2 text-left mb-2" type="submit"><i class="fa-solid fa-store"></i>&nbsp;&nbsp;Store</button>
        </form>
        {% if isAdmin %}
        <p class="text-slate-400 text-lg font-bold mt-2 text-center">Administration</p>
        <form class="w-full" action="/admin/settings">
          <button class="w-full bg-slate-700 hover:bg-slate-500 duration-300 rounded-lg text-lg text-slate-300 p-2 text-left mb-2" type="submit"><i class="fa-solid fa-gear"></i>&nbsp;&nbsp;Settings</button>
        </form>
        <form class="w-full" action="/admin/users">
          <button class="w-full bg-slate-700 hover:bg-slate-500 duration-300 rounded-lg text-lg text-slate-300 p-2 text-left mb-2" type="submit"><i class="fa-solid fa-users"></i>&nbsp;&nbsp;Users</button>
        </form>
        <form class="w-full" action="/admin/servers">
          <button class="w-full bg-slate-700 hover:bg-slate-500 duration-300 rounded-lg text-lg text-slate-300 p-2 text-left mb-2" type="submit"><i class="fa-solid fa-server"></i>&nbsp;&nbsp;Servers</button>
        </form>
        <form class="w-full" action="/admin/plans">
          <button class="w-full bg-slate-700 hover:bg-slate-500 duration-300 rounded-lg text-lg text-slate-300 p-2 text-left mb-2" type="submit"><i class="fa-solid fa-plane-up"></i>&nbsp;&nbsp;Server plans</button>
        </form>
        <form class="w-full" action="/admin/store">
          <button class="w-full bg-slate-700 hover:bg-slate-500 duration-300 rounded-lg text-lg text-slate-300 p-2 text-left mb-2" type="submit"><i class="fa-solid fa-store"></i>&nbsp;&nbsp;Store</button>
        </form>
        {% endif %}
      </div>
      <div class="w-full h-full flex flex-col bg-slate-800 p-5">
        <h1 class="text-4xl text-white font-bold mb-5">{{ page }}</h1>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>